body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.primary {
    font-size: 15px;
}

.tables {
    background-color: gainsboro;
    color: #A9A9A9;
    outline-color: white;
    border: none;
    height: 40px;
    margin-right: 13px;
    border-radius: 5px;
}

.but {
    background-color: black;
    color: white;
    width: 90px;
    height: 25px;
    margin: 0;
    border-radius: 5px;
}
